vti_encoding:SR|utf8-nl
http\://www.winzip.com/:tools/index.htm
http\://www.adobe.com/acrobat/readstep.html:tools/index.htm
http\://www.powervr.com/technologies/definition.htm:intro/index.htm
http\://www.pvrdev.com/legal/index.htm:_borders/bottom.htm
link to:_vti_pvt/_x_todoh.htm _vti_pvt/_x_todo.htm
http\://www.pc98.com/profile.html:docs/index.htm
http\://www.powervr.com:_borders/top.htm
