vti_encoding:SR|utf8-nl
vti_dependenciesood:IR|0
vti_copytimestamp_d\:\\wwwsites\\myweb2/:TR|09 Dec 1999 11:31:10 -0000
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_webservertype:SR|diskweb
vti_navbuttonnextlabel:SR|Next
vti_themedefault:SR|none
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
copyright:SW|Imagination Technologies Ltd.
vti_timecreated:TR|08 Dec 1999 15:20:37 -0000
vti_extenderversion:SR|4.0.2.3406
vti_navbuttonprevlabel:SR|Back
vti_borderdefault:SR|tlb
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_longfilenames:IX|1
vti_oldestcompatibleversion:SR|2.0.0.0
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_restartmanual:IX|0
vti_defaultcharset:SR|iso-8859-1
vti_defaultlanguage:SR|en
vti_title:SR|PowerVR Series1 Developer Support
vti_structto_www.pvrdev.com\:80/nda/series1:TR|25 Apr 2000 15:46:06 -0000
vti_autorecalc:IX|1
vti_hassearchbot:BR|false
vti_imagemapformat:SR|None
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_navbuttonhomelabel:SR|Home
vti_structto_adb\\d\:\\wwwsites\\myweb2:TR|09 Dec 1999 11:24:52 -0000
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_showhiddenpages:IR|1
vti_insecureserverurl:SR|file://
vti_disableautoimgsizeexts:SX|.asp
vti_httpdversion:SX|FrontPage DBW
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.
vti_navbuttonuplabel:SR|Up
vti_scriptlanguage:SR|None
vti_ignorekeyboard:IR|0
vti_textindexood:IR|0
